TopsyData/DataRetriever/Service References/TwitterData/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TopsyData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TopsyData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TweetData">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" nillable="true" type="tns:ResponseList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TweetData" nillable="true" type="tns:TweetData" />
  <xs:complexType name="ResponseList">
    <xs:sequence>
      <xs:element minOccurs="0" name="list" nillable="true" type="tns:ArrayOfTweet" />
      <xs:element minOccurs="0" name="total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseList" nillable="true" type="tns:ResponseList" />
  <xs:complexType name="ArrayOfTweet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tweet" nillable="true" type="tns:Tweet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTweet" nillable="true" type="tns:ArrayOfTweet" />
  <xs:complexType name="Tweet">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trackback_author_nick" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trackback_date" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tweet" nillable="true" type="tns:Tweet" />
</xs:schema>