TopsyData/DataRetriever/Service References/TwitterData/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52218/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TopsyData" />
  <xs:element name="getTwitterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTwitterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TopsyData" minOccurs="0" name="getTwitterDataResult" nillable="true" type="q1:TweetData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>